---
import { getCalendarConfig } from '../../config/integrations';

interface Props {
    username?: string;
    width?: string;
    height?: string;
}

const config = getCalendarConfig();
const { username = config.username, width = config.defaultWidth, height = config.defaultHeight } = Astro.props;
---

<div class="w-full">
    <iframe
        src={`https://cal.com/${username}`}
        width={width}
        height={height}
        frameborder="0"
        style="min-width: 320px;"
        data-cal-link={username}
    >
    </iframe>
</div>
